@import url(https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap);

.footer {
  font-family: "Baloo Thambi 2", cursive;
  margin-top: 6rem;
  background-color: #383838;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0rem;
  color: black;

}

a {
  font-family: "Baloo Thambi 2", cursive;

  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(16, 202, 248);
}

.spacing {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
}
