@import url(https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap);

.footer {
    font-family: 'Baloo Thambi 2', cursive;
    margin-top: 3rem;
}

a{
    font-family: 'Baloo Thambi 2', cursive;
    color: #d6d2d2;
    // text-decoration: none;
}
a:hover{
   color: rgb(219, 78, 13);
}
