@import url(https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap);

.header {
  padding: 1rem 0 3rem;
}

.title {
  font-family: 'Baloo Thambi 2', cursive;
  color: #d6d2d2;
  font-size: 3rem;
  text-decoration: none;
}
.title:hover {
  color: rgb(219, 78, 13);
}

.nav-list {
  font-family: 'Baloo Thambi 2', cursive;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #d6d2d2;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(219, 78, 13);
}

.active-nav-item {
  color: #6418c7;
}
