@import url(https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap);

// .header {
//   display:flex;
// }

.title {
  background-color: rgb(241, 211, 38);
  font-family: 'Baloo Thambi 2', cursive;
  color: #181B29;
  font-size: 3rem;
  text-decoration: none;
  transition: 1s;
background-size: 100%;


}
.title:hover {
 color:#A9B9DE;
//  font-size: 3.03rem;
 
}

.nav-list {
  font-family: 'Baloo Thambi 2', cursive;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color:  #181B29;
  background-color: rgb(152, 159, 233);
  font-size: 1rem;
  margin-right: 4rem;
  text-decoration: none;
}

.nav-item:hover {

 color: #A9B9DE;
}


hr{
  color: #40b6e6;
}